numpy
babelfish
subliminal
pysrt
delegator.py
easydict

google-cloud-core==1.3.0
google-cloud-speech==1.3.2
google-cloud-storage==1.28.1
google-cloud-videointelligence==1.14.0
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
requests-oauthlib==1.2.0

mutagen